@import '../../../../Styles/common.scss';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

.related-products-wrapper {
  width: 1010px;
  margin: 0 auto;

  .lines {
    width: 20px;
    height: 5px;
    margin: 5px 0;
    background: #000000;
  }

  p {
    width: auto;
    font-size: 13px;
    font-weight: 500;
    color: $main-gray;
  }

  .images-slice {
    width: 100%;
    height: 320px;
    display: flex;
    margin-top: 30px;
    position: relative;
    align-items: center;

    button {
      width: 30px;
      height: 312px;
      background: none;
      border: none;
      border-radius: 3px;
      outline: none;
      transition: 0.5s;
      &:hover {
        background: rgba(90, 4, 107, 0.356);
        cursor: pointer;
      }
      i {
        font-size: 25px;
        color: $main-purple;
      }
      .right-btn {
        right: 0;
        @extend button;
      }
      .left-btn {
        left: 0;
        @extend button;
      }
    }
  }
  .related-items-wrapper {
    width: 940px;
    position: relative;

    transition: 0.5s;
    overflow: hidden;
  }
  .img-wrapper {
    width: 100%;
    display: flex;
    white-space: nowrap;
  }
  .related-items-list {
    width: 178px;
    margin: 0 5px;
    border: 1px solid #ddd;
  }
  .item-image {
    width: 178px;
    height: 229px;
  }
  .item-name {
    width: 168px;
    height: 35px;
    margin: 10px 5px 0 5px;
    font-size: 14px;
    color: $main-gray;
    font-weight: 700;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .item-price {
    width: 158px;
    height: 35px;
    margin-left: 5px;
    font-size: 14px;
    color: $main-gray;
  }
}
