@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import '../../../Styles/common.scss';
@import '../../../Styles/reset.scss';

.slide-container {
  .slide-img-container {
    margin-top: 20px;
    display: flex;
    overflow: scroll;
    .slide {
      min-width: 100%;
      max-height: 370px;
      transition: 0.5s;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .go-left,
  .go-right {
    position: absolute;
    top: 50%;
    background-color: white;
    opacity: 0.3;
    border: 1px solid $medium-gray;
    border-radius: 50%;
    img {
      width: 20px;
      height: 20px;
      padding: 10px;
    }
  }

  .go-left {
    left: 80px;
  }

  .go-right {
    right: 80px;
  }
}
