@import '../../Styles/common.scss';

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .banner {
    .banner-img {
      width: 1050px;
      height: 200px;
    }
    .msg {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 260px;
      left: 250px;
      font-size: 40px;
      color: $dark-gray;

      span:nth-child(2) {
        font-size: 30px;
        padding: 10px 0;
      }

      span:last-child {
        font-size: 20px;
      }
    }
  }

  .product-list-menu {
    position: relative;
    width: 1050px;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 0 45px;

    .category-title {
      margin-bottom: 10px;
      padding: 10px 0;
      color: $dark-gray;
      i {
        padding: 0 5px;
        color: $main-purple;
      }
    }
    .sub-title {
      display: flex;
      justify-content: space-between;
      .sub-names {
        width: 345px;
        height: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;

        .sub-name {
          text-decoration: 0;
          font-size: 12px;
          padding-right: 25px;
          color: $dark-gray;
          cursor: pointer;

          &:last-child {
            padding-right: 0;
          }

          &:hover {
            color: $main-purple;
          }
        }
      }
    }
    .filter {
      border: none;
      font-size: 12px;
      color: $dark-gray;
      cursor: pointer;
    }
  }

  .product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1050px;
  }

  .product-container {
    position: relative;
    height: 610px;
  }
}

.cart-button {
  position: absolute;
  bottom: 230px;
  right: 25px;
  width: 45px;
  height: 45px;
  background-color: $main-purple;
  opacity: 0.5;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;

  i {
    color: white;

    left: 12px;
    top: 17px;
  }
}
