@import '../../../../Styles/common.scss';

.product-slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  .product-slide {
    display: flex;
    max-width: 1050px;
    overflow: hidden;
  }

  .go-left,
  .go-right {
    position: absolute;
    top: 30%;
    background-color: white;
    opacity: 1;
    border: 1px solid $gray-background;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 5px #ddd;
    }

    img {
      width: 40px;
      height: 40px;
      padding: 10px;
      opacity: 0.7;
    }
  }

  .go-left {
    left: 170px;
  }

  .go-right {
    right: 170px;
  }
}
