@import '../../../Styles/common.scss';

.SignupFin-Main {
  height: 813px;
  border-bottom: 1px solid #f7f7f7;

  .SignupFin-Content {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    height: 812px;
    position: relative;

    .SignupFin-Wrap {
      height: 512px;
      position: absolute;
      top: 180px;
      bottom: 100px;

      .SignupFin-Form {
        padding: 50px 0;
        width: 1050px;
        height: 412px;
        margin: 0 auto;
        line-height: 150%;
        text-align: center;
        background-color: #f7f5f8;
        border-top: 2px solid #4d4d4d;
        border-bottom: 1px solid #4d4d4d;
        @extend %flexCenter;

        .SignupFin-Ment {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 430px;

          .desc {
            width: 430px;
            height: 18px;
            margin: 0 0 30px;
            font-size: 20px;
            font-weight: 500;
            color: #4c4c4c;
            line-height: 150%;
            text-align: center;
          }

          .memberInfo {
            overflow: hidden;
            text-align: left;
            border-top: 2px solid #6a3664;
            padding-top: 10px;
            width: 430px;
            height: 189px;
            font-size: 12px;
            color: #4c4c4c;

            ul {
              height: 177px;
              display: block;

              li {
                height: 59px;
                border-bottom: 1px solid #6a3664;

                strong {
                  font-weight: 600;
                  display: inline-block;
                  width: 30%;
                  padding: 20px 0;
                  color: #000;
                  font-size: 13px;
                  text-indent: 20px;
                }
              }
            }
          }

          .SignupFin-Btn {
            width: 430px;
            height: 42px;
            margin: 30px 0 0;

            .LoginFin_Btn {
              width: 200px;
              display: inline-block;
              line-height: 40px;
              border: 1px solid #5f0080;
              font-size: 13px;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}

.LoginFin_Btn.Event {
  background-color: #fff;
  color: #5f0080;

  &:hover {
    background-color: #5f0080;
    color: #fff;
  }
}

.LoginFin_Btn.GotoMain {
  background-color: #795b8f;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #795b8f;
  }
}
