@import '../../../Styles/common.scss';

.f_id_head {
  height: 210px;
}

.f_id_footer {
  height: 423px;
}

.f_id_main {
  .f_id_content {
    width: 340px;
    margin: 0 auto;

    h3 {
      line-height: 20px;
      color: #333;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    .f_id_form {
      display: flex;
      flex-direction: column;
      color: #333;

      strong {
        padding: 11px 0 7px;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        font-weight: 500;
      }

      input {
        height: 54px;
        padding: 0 19px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        font-size: 14px;
        line-height: 20px;
        outline: none;

        &::placeholder {
          color: #ccc;
        }

        &:focus {
          border: 1px solid #333;
          border-radius: 3px;
        }
      }

      button {
        margin-top: 30px;
        height: 54px;
        border: 1px solid #5f0081;
        border-radius: 3px;
        background-color: #5f0080;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
