@import '../../../../Styles/common.scss';

.top-view {
  width: auto;
  height: 984px;
  display: flex;
  margin: 15px auto 0 auto;

  .thumbnail-wrapper {
    width: 1050px;
    height: 552px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    font-size: 14px;

    img {
      width: 430px;
      height: 552px;
    }

    .thumbnail-info {
      width: auto;

      .goods-name {
        width: 560px;
        padding: 10px 0 29px 0;
        dt {
          width: 560px;
          height: 34px;
          padding-right: 60px;
          color: $dark-gray;
          font-size: 24px;
          font-weight: 500;
        }

        dd {
          width: 560px;
          height: 24px;
          padding: 4px 60px 0 0;
          color: $light-gray;
          font-size: 14px;

          .data-sub {
            width: 560px;
            height: 24px;
            margin: 1px 0;
          }
        }
      }

      .goods-price-wrapper {
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid #eee;

        .price {
          font-size: 28px;
        }
        .unit {
          font-size: 18px;
        }
        .goods-discount {
          width: 540px;
          padding-top: 11px;
          display: flex;
          align-items: center;
          font-weight: 500;
          margin-bottom: 19px;

          .discount-percent {
            width: 56px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6px;
            border: 1px solid #949296;
            border-radius: 10px;

            span {
              font-size: 12px;
              color: #949296;
            }
          }
        }
      }

      .goods-dl {
        width: auto;
        dl {
          width: 560px;
          padding: 18px 0;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #eee;

          dt {
            width: 150px;
            color: $midium-gray;
          }

          dd {
            width: 410px;
            padding-top: 6px;
          }

          dd.subdata {
            height: auto;
            padding-top: 6px;
            font-size: 12px;
            color: $midium-gray;
          }
        }
      }

      .goods-select-wrapper {
        width: 560px;
        padding: 18px 0;
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #eee;

        label {
          width: 150px;
          padding-top: 18px;
          color: $midium-gray;
        }
        .goods-select {
          width: 410px;
          padding-top: 6px;

          select {
            width: 410px;
            height: 40px;
            border: 1px solid rgb(204, 203, 203);
            font-size: 12px;
            color: $dark-gray;
            display: flex;
            align-items: center;
            padding-left: 10px;
          }

          ul {
            width: 410px;
            margin-top: 10px;
            li {
              width: 383px;
              height: 58px;
              padding: 11px 10px 11px 15px;
              border: 1px solid #eee;
              border-radius: 1px;
              position: relative;
              font-size: 12px;

              .added-goods-name {
                width: auto;
                margin-top: 3px;

                .delete {
                  position: absolute;
                  right: 16px;
                  padding: 0;
                  background: #ffffff;
                  border: none;
                  outline: none;
                }
              }

              .goods-quantity {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                form {
                  width: auto;
                  display: flex;
                  align-items: center;
                  border: 1px solid rgb(226, 224, 224);
                  border-radius: 3px;
                }
                button {
                  width: 28px;
                  height: 28px;
                  padding: 0;
                  background: none;
                  border: none;
                  font-size: 20px;
                }
                input {
                  width: 30px;
                  height: 30px;
                  text-align: center;
                  background: none;
                  border: none;
                }
                .fixed-price {
                  width: auto;
                  font-size: 12px;
                  padding-left: 5px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .buy-for-it {
        width: auto;
        text-align: right;

        .total-price-wrapper {
          width: 560px;
          margin-top: 40px;

          .restock {
            font-size: 13px;
          }
          .total-price {
            margin: 0 5px;
            font-size: 32px;
            font-weight: 700;
          }
          .won {
            font-size: 20px;
          }
        }

        .mark-btn {
          width: 560px;
          margin: 16px 0;
        }

        .restock {
          width: 128px;
          height: 56px;
          margin-left: 12px;
          border: 1px solid $main-purple;
          border-radius: 3px;
          outline: none;
          background-color: #ffffff;
          font-size: 16px;
          color: $main-purple;
          font-weight: 700;
        }
        .buy-often {
          @extend .restock;
        }
        .add-cart-btn {
          width: 278px;
          height: 56px;
          border: none;
          border-radius: 3px;
          background-color: $main-purple;
          font-size: 16px;
          color: #ffffff;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}
