@import '../../../Styles/common.scss';
@import '../../../Styles/reset.scss';

.sub-menu {
  display: none;
  width: 190px;
  background-color: white;
  border: 1px solid #ddd;

  li {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
  }
}
