@import '../../Styles/common.scss';

.common-nav {
  background-color: white;

  .user-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 500;

    .shipping-container {
      display: flex;
      flex-direction: column;
      position: relative;

      .shipping {
        padding: 2px 10px;
        border-style: none;
        border: 1px solid $light-gray;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 600;
        background-color: white;
        color: $main-gray;
        width: 165px;

        a {
          text-decoration: none;
          color: $main-purple;
        }

        img {
          width: 10px;
          height: 10px;
          padding-left: 5px;
        }
      }

      @keyframes img-transition {
        0% {
          opacity: 0;
        }

        10% {
          opacity: 1;
        }

        50% {
          opacity: 1;
        }

        60% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }

      .regular-shipping {
        position: absolute;
        top: 0;
        opacity: 0;
        animation: img-transition 5s infinite;
        animation-timing-function: linear;
      }
    }
    .user-menu-list {
      display: flex;

      li {
        a {
          text-decoration: none;
          color: $main-gray;
        }
      }
      .signup a {
        color: $main-purple;
      }
      li + li:before {
        content: '|';
        margin: 0 10px;
      }
    }
  }
  .logo {
    @extend %flexCenter;
    width: 1050px;
    margin: 10px auto;
    img {
      width: 150px;
      height: 80px;
    }
  }

  .header-container-fixed {
    @extend %flexCenter;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0.5px 10px $light-gray;
  }

  .header-container {
    @extend %flexCenter;
    width: 100%;
    padding: 10px 0;

    .fixed-header {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 1050px;
      background-color: white;

      .menu {
        @extend %flexCenter;

        li {
          margin-right: 70px;

          a {
            padding-bottom: 3px;
            text-decoration: none;
            color: $main-gray;
            font-weight: 500;

            &:hover {
              color: $main-purple;
              border-bottom: 1px solid $main-purple;
            }
          }
          img {
            width: 15px;
            height: 20px;
            margin-right: 100px;
            position: absolute;
            left: 0;
          }
          .menu-all-category {
            margin-left: 20px;
          }
        }
      }

      .aside-menu {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: 380px;
        .search {
          position: relative;

          .search-form input {
            width: 242px;
            padding: 10px;
            border-style: none;
            border-radius: 20px;
            background-color: $gray-background;
            color: $main-gray;
            font-size: 12px;

            &:focus {
              color: black;
            }
          }
          .search-button {
            position: absolute;
            top: 8px;
            right: 15px;
            width: 20px;
            height: 20px;
            border-style: none;
            background-color: transparent;
            cursor: pointer;

            .search-icon {
              width: 15px;
              height: 15px;
            }
          }
        }
        .menu-icons {
          width: 30px;
          height: 30px;
        }

        .cart-number {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 16px;
          height: 16px;
          background-color: $main-purple;
          border-radius: 50%;

          span {
            position: absolute;
            left: 5px;
            top: 2px;
            font-size: 10px;
            font-weight: 500;
            color: white;
          }
        }
      }
    }
  }
}